:root {
    --txt1: #141414;
    --branco: #fff;
    --preto: #000;
}

.cabecalho {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.cabecalho_menu a {
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--txt1);
    display: block;
}
.cabecalho_menu a:hover {
    background: var(--branco);
    border-radius: 50px;
}

@media (max-width: 900px) {
    .cabecalho {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .cabecalho a {
        background: #f5f5f5 ;
    }
}